<div style="background:transparent;margin-left:auto;margin-right:auto;font-size:20px;margin-top:100px;">
<div style="margin-left:auto;margin-right:auto;width:300px;">用户名       :
<input  maxlength="32" type="text" ng-model="entity.name" placeholder="用户名" required>
</div>
<div style="margin-left:auto;margin-right:auto;width:300px;">旧口令       :
<input  maxlength="32" type="password" ng-model="entity.pass" placeholder="旧口令" required>
</div>
<div style="margin-left:auto;margin-right:auto;width:300px;">新口令       :
<input  maxlength="32" type="password" ng-model="entity.newpass" placeholder="新口令" required>
</div>
<div style="margin-left:auto;margin-right:auto;width:300px;">重复新口令:
<input maxlength="32" type="password" ng-model="entity.renewpass" placeholder="重复新口令" required>
</div>
<div style="margin-left:auto;margin-right:auto;width:300px;margin-top:30px;">
<div style="float:right; margin-right:60px; width:80px;height:43px;font-size:23px;" ng-click="ok()" class="btn btn-success">确认</div></div>
</div>